#btn-toggle-create {
    transition: transform 400ms ease-in-out;
    aspect-ratio: 1 / 1;
}

#btn-toggle-create.activate {
    transform: rotate(180deg);
}

#channel-deletable {
    border-color: black;
}

#channel-deletable:checked {
    background-color: black;
}

.header-channel {
    padding: 5rem 2rem;
}

.channel-red {
    background-color: #dc3545;
    color: #fff;
}

.channel-cyan {
    background-color: #0dcaf0;
    color: #000;
}

.channel-green {
    background-color: #198754;
    color: #fff;
}

.channel-yellow {
    background-color: #ffc107;
    color: #000;
}

.channel-grey {
    background-color: #adb5bd;
    color: #000;
}

.channel-black {
    background-color: #000;
    color: #fff;
}

.channel-white {
    background-color: #fff;
    color: #000;
}

.channel-blue {
    background-color: #0d6efd;
    color: #fff;
}

.channel-orange {
    background-color: #fd7e14;
    color: #000;
}

.channel-purple {
    background-color: #6f42c1;
    color: #fff;
}

.channel-eldenring {
    background-color: #664d03;
    background-image: url("../assets/img/eldenring.webp");
    background-size: cover;
    background-position: center;
    color: #fff;
    text-shadow: 0px 0px 5px #000;
}

.user-avatar{
    aspect-ratio: 1 / 1;
    object-fit: cover;
}